<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScamLand</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'casino/style.css' %}">
</head>
<body>
    <header>
        <h1>Приветствуем в нашем казино!</h1>
        <h1>↓Здесь можно выбрать направление↓</h1>
        <nav>
            <ul>
                <li><a href="{% url 'games' %}" style="font-size: 22px; margin-right: 25px">Игры</a></li>
                <li><a href="{% url 'about' %}" style="font-size: 22px; margin-right: 25px">О нас</a></li>
                <li><a href="{% url 'contacts' %}" style="font-size: 22px; margin-right: 25px">Контакты</a></li>
                <li><a href="{% url 'support' %}" style="font-size: 22px; margin-right: 25px">Поддержка</a></li>
            </ul>
        </nav>
    </header>
    <!-- Остальной код -->
</body>
</html>
